name: 'Pull request: Run unit test'

on:
  pull_request:
    branches:
      - dev
      - master
      - beta
env:
  GOPRIVATE: github.com/isd-sgcu/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
          
      - name: setup credential
        env:
          NETRC_CONFIG: ${{ secrets.NETRC_CONFIG }}
        run: |
          echo "$NETRC_CONFIG" >> /home/runner/.netrc

      - name: Set up Go
        uses: actions/setup-go@v4.0.1
        with:
          go-version: '1.20'

      - name: Download dependencies
        run: go mod download
      - name: Vet
        run: |
          go vet ./...

      - name: Test
        run: |
          go test  -v -coverpkg ./internal/... -coverprofile coverage.out -covermode count ./internal/...
          go tool cover -func="./coverage.out"
